@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="groupForm">
    <h1 class="display-3">Login</h1>
    <form class="mt-4" method="post">
        <input class="form-control mt-4" asp-for="@Model.loginInformation.Username" placeholder="Username" value="@Model.usernameTemp">
        <input class="form-control mt-2 mb-1" type="password" asp-for="@Model.loginInformation.Password" placeholder="Password">
        <p class="errorText">@Model.errorText</p>
        <a asp-page="/Register">Not registered yet?</a><br>
        <input class="btn btn-primary mt-4" type="submit" asp-page-handler="Login" value="Login">
        <h2 class="mt-3" style="color:forestgreen">@Model.correctLoginText</h2>
    </form>
</div>