@page
@model LoginSystem.Pages.RegisterModel
@section Styles {
    <link href="@Url.Content("~/css/myStyles.css")" rel="stylesheet" type="text/css" />
}

<div class="groupForm">
    <h1 class="display-3">Register</h1>
    <form class="mt-4" method="post">
        <input class="form-control mt-4" asp-for="@Model.registerInformation.Name" placeholder="Name">
        <input class="form-control mt-2" asp-for="@Model.registerInformation.Surnames" placeholder="Surnames">
        <input class="form-control mt-2" asp-for="@Model.registerInformation.Username" placeholder="Username">
        <input class="form-control mt-2" asp-for="@Model.registerInformation.Password" placeholder="Password">
        <input class="form-control mt-2" asp-for="@Model.registerInformation.RepeatedPassword" placeholder="Repeat password">
        <input class="mt-4 mr-1" type="submit" asp-page-handler="Cancel" value="Cancel">
        <input class="mt-4 ml-1" type="submit" asp-page-handler="Register" value="Register">
        <input class="mt-4" type="submit" asp-page-handler="Login" value="Login">
    </form>
</div>